@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Permanent+Marker&family=Roboto:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Play&display=swap');

body {
    text-align: center;
    background: url("assets/cool-city.gif");
    background-repeat: no-repeat;
    background-size: cover;
}

#super {
    font-family: 'Permanent Marker', cursive;
    margin-right: 2rem;
    color: rgb(247, 17, 247);
    text-shadow: 2px 2px skyblue;
    font-size: 70px;
}

#snake {
    font-family: 'Fredoka One', cursive;
    font-size: 70px;
    color: lime;
    text-shadow: 2px 2px green;
}


#board {
    border: 10px inset rgb(247, 17, 247);
    box-shadow: 2px 2px 30px skyblue;
}

div, p{
    font-family: Play;
    color: lime;
    text-shadow: 2px 2px green;
}
